<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contraseña</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Lato", sans-serif;
      }
      body {
        width: 100%;
        height: 100vh;
        background-color: #fcffe7;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .container {
        border-radius: 50px;
        width: 380px;
        min-height: 400px;
        background-color: #eb455f;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
      }
      h1 {
        text-align: center;
        margin: 20px 0px;
      }
      h3 {
        margin: 20px 0px;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      input {
        padding: 10px 15px;
        background-color: #bad7e9;
        color: black;
        margin: 5px 0px;
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <h1 class="title">Recuperación de Contraseña</h1>
    <div class="container">
      <h2>Escribe tu correo</h2>
      <h3>Y tu contraseña nueva</h3>
      <form action="/change-password" method="post">
        <div class="container_email">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Correo Electronico"
            required
          />
        </div>
        <div class="container_password">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Nueva Contraseña"
            required
          />
        </div>
        <div class="btn">
          <input type="submit" value="Hecho" class="btn_input" />
        </div>
      </form>
      <p>
        Volver al
        <a class="inicio" href="/">Inicio</a>
      </p>
    </div>
  </body>
</html>
