<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Lato", sans-serif;
      }
      body {
        width: 100%;
        height: 100vh;
        background-color: #fcffe7;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
      }
      main {
        border-radius: 50px;
        width: 380px;
        min-height: 400px;
        background-color: #eb455f;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
      }
      main h3 {
        margin: 20px 0px;
      }
      form {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      input {
        padding: 10px 15px;
        background-color: #bad7e9;
        color: black;
        margin: 5px 0px;
        font-size: 15px;
      }
      .btn-add-task {
        padding: 8px 18px;
        font-size: 18px;
        font-weight: lighter;
      }
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        /* align-items: center; */
      }

      li {
        width: 100%;
        border: 1px solid #2b3467;
        border-radius: 10px;
        margin: 5px 0px;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
      }
      .btn-x {
        padding: 5px;
        border-radius: 50px;
        border: none;
        font-weight: bold;
        background-color: #2b3467;
        color: aliceblue;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <header>
      <h2>Dashboard <%= user.charAt(0).toUpperCase() + user.slice(1) %></h2>
      <a href="/users/logout">Cerrar sesión</a>
    </header>

    <main>
      <h3>Ingresa tus tasks</h3>
      <form action="/users/dashboard" method="post" id="add-task-form">
        <input
          type="text"
          id="newItem"
          name="newItem"
          placeholder="Ingresa una tarea"
        />
        <button class="btn-add-task" type="submit">Agregar tarea</button>
      </form>

      <ul id="task-list">
        <% for(let i = 0; i < newListItems.length; i++){ %>
        <li>
          <%= newListItems[i].description %>

          <!-- <form action="/users/dashboard/edit" method="post">
          <input type="hidden" name="todo_id" value="todo_id" />
          <textarea name="description">description</textarea>
          <button type="submit">Editar</button>
        </form> -->
          <form action="/users/dashboard/edit" method="post">
            <a
              href="/users/dashboard/edit"
              id="todo_id"
              value="<%= newListItems[i].todo_id %>"
              class="edit-btn"
              >Editar</a
            >
          </form>

          <form action="/users/dashboard/delete" method="post">
            <input
              type="hidden"
              name="description"
              value="<%= newListItems[i].description %>"
            />
            <button class="btn-x" type="submit">X</button>
          </form>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
