<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h2>Dashboard <%= user.charAt(0).toUpperCase() + user.slice(1) %></h2>
    <a href="/users/logout">Cerrar sesion</a>

    <form action="/users/dashboard" method="post" id="add-task-form">
      <input
        type="text"
        id="newItem"
        name="newItem"
        autocomplete="off"
        placeholder="Ingresa una tarea"
      />
      <button type="submit">Agregar tarea</button>
    </form>

    <ul id="task-list">
      <li>Buy Food</li>
      <li>Buy Water</li>
      <li>Buy Car</li>

      <% for(let i = 0; i < newListItems.length; i++){ %>

      <li><%= newListItems[i] %></li>

      <% } %>
    </ul>
  </body>
</html>
