<!DOCTYPE html>
<html>
  <head>
    <title>Editar Mensaje</title>
  </head>
  <body>
    <h1>Editar Mensaje</h1>
    <form action="/users/dashboard/edit" method="post">
      <input type="hidden" name="todo_id" value="todo_id" />
      <input
        type="text"
        name="mensaje"
        placeholder="Ingrese el nuevo mensaje"
      />
      <input type="submit" value="Editar" />
    </form>
  </body>
</html>
