<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <% if (messages.success_msg) { %>
    <div><%= messages.success_msg %></div>
    <% } %>

    <!-- <h1>Login</h1> -->

    <!-- <% if (messages.error) { %>
    <div><%= messages.error %></div>
    <% } %> -->

    <form action="/users/login" method="post">
      <div>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Correo electronico"
          required
        />
      </div>
      <div>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>

      <div>
        <input type="submit" value="Login" />
      </div>
      <p>
        Aun no tienes una cuenta? <a href="/users/register">Haz click aqui</a>
      </p>
    </form>
  </body>
</html>
